runs/
knot_data/
.env
*.pyc
uv.lock
.venv
knot_data/pd/GoogleDeepmind_hard_unknots.csv
knot_data/pd/SeeingTheUnknot_non_trivial_knots.json
knot_data/pd/SeeingTheUnknot_unknots.json
knot_data/diagram/
knot_data/non-trivial-knots
